.parrafohb {
    color: burlywood;
    font-size: 17px;
    background-color:brown;
    border-radius: 10%;
    
}
.parrafo2 {

    color: brown;
    font-size: 17px;
    background-color: cadetblue;
    border-radius: 10%;
}